In [85]:
import pandas as pd
import numpy as np

In [86]:
# Create a new DataFrame with the specified economic columns
economic_df = pd.DataFrame()

# Display the empty DataFrame
economic_df.head()

Empty DataFrame
Columns: []
Index: []

In [87]:
# Read the CSV file for GDP growth
gdp_growth_df = pd.read_csv('GDPC1_CCH.csv')

# Extract Year and Quarter from the observation_date
gdp_growth_df['Year'] = pd.to_datetime(gdp_growth_df['observation_date']).dt.year
gdp_growth_df['Quarter'] = pd.to_datetime(gdp_growth_df['observation_date']).dt.quarter

# Fill in the Year, Quarter, and GDP_Growth columns in the economic_df DataFrame
economic_df['Year'] = gdp_growth_df['Year']
economic_df['Quarter'] = gdp_growth_df['Quarter']
economic_df['GDP_Growth'] = gdp_growth_df['GDPC1_CCH']
economic_df['Recession'] = economic_df['GDP_Growth'] < 0

# Display the updated DataFrame
economic_df.head()

   Year  Quarter  GDP_Growth  Recession
0  1950        1     3.85636      False
1  1950        2     3.00531      False
2  1950        3     3.79224      False
3  1950        4     1.89685      False
4  1951        1     1.34882      False

In [88]:
# Read the CSV file for Unemployment Rate
unemployment_df = pd.read_csv('UNRATE.csv')

# Extract Year and Quarter from the observation_date
unemployment_df['Year'] = pd.to_datetime(unemployment_df['observation_date']).dt.year
unemployment_df['Quarter'] = pd.to_datetime(unemployment_df['observation_date']).dt.quarter
unemployment_df.rename(columns={'UNRATE': 'Unemployment_Rate'}, inplace=True)

# Merge the unemployment data into the economic_df DataFrame
economic_df = economic_df.merge(unemployment_df[['Year', 'Quarter', 'Unemployment_Rate']], on=['Year', 'Quarter'], how='left')

# Display the updated DataFrame
economic_df.head()

   Year  Quarter  GDP_Growth  Recession  Unemployment_Rate
0  1950        1     3.85636      False                6.4
1  1950        2     3.00531      False                5.6
2  1950        3     3.79224      False                4.6
3  1950        4     1.89685      False                4.2
4  1951        1     1.34882      False                3.5

In [89]:
# Read the CSV file for Inflation Rate
inflation_df = pd.read_csv('CPIAUCSL_PC1.csv')

# Extract Year and Quarter from the observation_date
inflation_df['Year'] = pd.to_datetime(inflation_df['observation_date']).dt.year
inflation_df['Quarter'] = pd.to_datetime(inflation_df['observation_date']).dt.quarter
inflation_df.rename(columns={'CPIAUCSL_PC1': 'Inflation_Rate'}, inplace=True)

# Merge the inflation data into the economic_df DataFrame
economic_df = economic_df.merge(inflation_df[['Year', 'Quarter', 'Inflation_Rate']], on=['Year', 'Quarter'], how='left')

# Display the updated DataFrame
economic_df.head()

   Year  Quarter  GDP_Growth  Recession  Unemployment_Rate  Inflation_Rate
0  1950        1     3.85636      False                6.4        -1.48963
1  1950        2     3.00531      False                5.6        -0.62718
2  1950        3     3.79224      False                4.6         2.05200
3  1950        4     1.89685      False                4.2         4.36743
4  1951        1     1.34882      False                3.5         8.94573

In [90]:
# Read the CSV file for Gas Prices
gas_prices_df = pd.read_csv('CUUR0000SETB01_CCH.csv')

# Extract Year and Quarter from the observation_date
gas_prices_df['Year'] = pd.to_datetime(gas_prices_df['observation_date']).dt.year
gas_prices_df['Quarter'] = pd.to_datetime(gas_prices_df['observation_date']).dt.quarter
gas_prices_df.rename(columns={'CUUR0000SETB01_CCH': 'Gas_Prices'}, inplace=True)

# Merge the gas prices data into the economic_df DataFrame
economic_df = economic_df.merge(gas_prices_df[['Year', 'Quarter', 'Gas_Prices']], on=['Year', 'Quarter'], how='left')

# Display the updated DataFrame
economic_df.head()

,Year,Quarter,GDP_Growth,Recession,Unemployment_Rate,Inflation_Rate,Gas_Prices
0,1950,1,3.85636,False,6.4,-1.48963,-2.65268
1,1950,2,3.00531,False,5.6,-0.62718,1.06953
2,1950,3,3.79224,False,4.6,2.05200,1.58315
3,1950,4,1.89685,False,4.2,4.36743,1.55847
4,1951,1,1.34882,False,3.5,8.94573,0.51414

In [91]:
# Read the CSV file for SNP500 data
snp500_df = pd.read_csv('SNP500.csv')

# Calculate the Quarter from the Month
snp500_df['Quarter'] = snp500_df['Month'].apply(lambda x: (x - 1) // 3 + 1)

# Convert 'Return (%)' to float
snp500_df['Return (%)'] = snp500_df['Return (%)'].str.replace('%', '').astype(float) / 100

# Calculate the compounded SNP500 return for each quarter
snp500_df['Compounded_Return'] = snp500_df['Return (%)'] + 1
quarterly_compounded_snp500 = snp500_df.groupby(['Year', 'Quarter'])['Compounded_Return'].prod().reset_index()
quarterly_compounded_snp500['SP500_Return_Rate'] = (quarterly_compounded_snp500['Compounded_Return'] - 1) * 100

# Drop the intermediate 'Compounded_Return' column
quarterly_compounded_snp500.drop(columns=['Compounded_Return'], inplace=True)

# Merge the SNP500 data into the economic_df DataFrame
economic_df = economic_df.merge(quarterly_compounded_snp500, on=['Year', 'Quarter'], how='left')

# Display the updated DataFrame
economic_df.tail()

,Year,Quarter,GDP_Growth,Recession,Unemployment_Rate,Inflation_Rate,Gas_Prices,SP500_Return_Rate
295,2023,4,0.78558,False,3.8,3.23615,-10.05236,13.219812
296,2024,1,0.40399,False,3.8,3.24919,-3.21356,6.530821
297,2024,2,0.73626,False,4.0,3.19431,8.94288,8.686055
298,2024,3,0.75664,False,4.2,2.64001,-5.55704,4.927910
299,2024,4,0.55662,False,4.1,2.73538,-8.63110,4.400000

In [92]:
# Read the CSV file for Consumer_Confidence pct change Rate
consumer_confidence_df = pd.read_csv('UMCSENT.csv')

# Extract Year and Quarter from the observation_date
consumer_confidence_df['Year'] = pd.to_datetime(consumer_confidence_df['observation_date']).dt.year
consumer_confidence_df['Quarter'] = pd.to_datetime(consumer_confidence_df['observation_date']).dt.quarter
consumer_confidence_df.rename(columns={'UMCSENT': 'Consumer_Confidence'}, inplace=True)

# Merge the consumer confidence data into the economic_df DataFrame
economic_df = economic_df.merge(consumer_confidence_df[['Year', 'Quarter', 'Consumer_Confidence']], on=['Year', 'Quarter'], how='left')

# Display the updated DataFrame
economic_df.head()

,Year,Quarter,GDP_Growth,Recession,Unemployment_Rate,Inflation_Rate,Gas_Prices,SP500_Return_Rate,Consumer_Confidence
0,1950,1,3.85636,False,6.4,-1.48963,-2.65268,7.458165,NaN
1,1950,2,3.00531,False,5.6,-0.62718,1.06953,-0.979123,NaN
2,1950,3,3.79224,False,4.6,2.05200,1.58315,16.263185,NaN
3,1950,4,1.89685,False,4.2,4.36743,1.55847,8.626437,NaN
4,1951,1,1.34882,False,3.5,8.94573,0.51414,5.142996,NaN

In [93]:
# Read the CSV file for Federal Funds Rate
federal_funds_df = pd.read_csv('DFF.csv')

# Extract Year and Quarter from the observation_date
federal_funds_df['Year'] = pd.to_datetime(federal_funds_df['observation_date']).dt.year
federal_funds_df['Quarter'] = pd.to_datetime(federal_funds_df['observation_date']).dt.quarter
federal_funds_df.rename(columns={'DFF': 'Federal_Funds_Rate'}, inplace=True)

# Merge the federal funds rate data into the economic_df DataFrame
economic_df = economic_df.merge(federal_funds_df[['Year', 'Quarter', 'Federal_Funds_Rate']], on=['Year', 'Quarter'], how='left')

# Display the updated DataFrame
economic_df.head()

,Year,Quarter,GDP_Growth,Recession,Unemployment_Rate,Inflation_Rate,Gas_Prices,SP500_Return_Rate,Consumer_Confidence,Federal_Funds_Rate
0,1950,1,3.85636,False,6.4,-1.48963,-2.65268,7.458165,NaN,NaN
1,1950,2,3.00531,False,5.6,-0.62718,1.06953,-0.979123,NaN,NaN
2,1950,3,3.79224,False,4.6,2.05200,1.58315,16.263185,NaN,NaN
3,1950,4,1.89685,False,4.2,4.36743,1.55847,8.626437,NaN,NaN
4,1951,1,1.34882,False,3.5,8.94573,0.51414,5.142996,NaN,NaN

In [94]:
# Read the CSV file for US debt
us_debt_df = pd.read_csv('HstDebt_19490101_20240930.csv')

# Extract Year from the Record Date
us_debt_df['Record Date'] = pd.to_datetime(us_debt_df['Record Date']).dt.year

# Rename the Debt Outstanding Amount column
us_debt_df.rename(columns={'Record Date': 'Year'}, inplace=True)

# Rename the Debt Outstanding Amount column
us_debt_df.rename(columns={'Debt Outstanding Amount': 'Debt'}, inplace=True)

# Sort the DataFrame by Year in ascending order
us_debt_df.sort_values(by='Year', ascending=True, inplace=True)

# Reset the index
us_debt_df.reset_index(drop=True, inplace=True)

# Calculate the percent change of debt from the previous year
us_debt_df['Debt_Percent_Change'] = us_debt_df['Debt'].pct_change() * 100

# Remove the year 1949 from the DataFrame
us_debt_df = us_debt_df[us_debt_df['Year'] != 1949]

# Calculate the quarterly percent change of debt
quarterly_percent_change = pd.DataFrame(((1 + us_debt_df['Debt_Percent_Change'] / 100) ** (1/4) - 1) * 100)

# Add Year to quarterly_percent_change
quarterly_percent_change['Year'] = us_debt_df['Year']

# Duplicate each year and add a quarterly index
quarterly_percent_change = quarterly_percent_change.loc[quarterly_percent_change.index.repeat(4)].reset_index(drop=True)
quarterly_percent_change['Quarter'] = [1, 2, 3, 4] * (len(quarterly_percent_change) // 4)

# Merge the quarterly percent change of debt into the economic_df DataFrame
economic_df = economic_df.merge(quarterly_percent_change, on=['Year', 'Quarter'], how='left')

# Display the updated DataFrame
economic_df.head()

,Year,Quarter,GDP_Growth,Recession,Unemployment_Rate,Inflation_Rate,Gas_Prices,SP500_Return_Rate,Consumer_Confidence,Federal_Funds_Rate,Debt_Percent_Change
0,1950,1,3.85636,False,6.4,-1.48963,-2.65268,7.458165,NaN,NaN,0.450617
1,1950,2,3.00531,False,5.6,-0.62718,1.06953,-0.979123,NaN,NaN,0.450617
2,1950,3,3.79224,False,4.6,2.05200,1.58315,16.263185,NaN,NaN,0.450617
3,1950,4,1.89685,False,4.2,4.36743,1.55847,8.626437,NaN,NaN,0.450617
4,1951,1,1.34882,False,3.5,8.94573,0.51414,5.142996,NaN,NaN,-0.208081

In [95]:
# Define the data
data = {
    'Year': list(range(1935, 2025)),
    'CPI': [37.077, 36.762, 36.015, 35.669, 32.392, 33.377, 39.931, 48.546, 57.623, 54.754, 58.492, 60.062, 71.454, 74.269, 71.600, 61.769, 75.192, 68.708, 72.738, 60.862, 62.831, 62.485, 59.562, 62.685, 54.854, 59.115, 59.123, 55.823, 56.677, 56.123, 54.769, 62.400, 52.223, 56.285, 66.177, 65.515, 56.562, 56.231, 83.600, 83.938, 82.369, 89.954, 87.092, 82.369, 90.177, 88.600, 95.892, 93.269, 97.638, 109.085, 90.962, 97.254, 91.515, 93.554, 118.469, 124.138, 121.192, 108.292, 117.092, 114.254, 120.469, 142.123, 139.962, 135.431, 128.115, 131.854, 136.438, 138.200, 157.277, 167.023, 144.138, 151.169, 195.291, 222.708, 190.024, 192.833, 210.492, 217.141, 224.219, 242.990, 286.232, 225.979, 204.454, 226.595, 203.867, 212.542, 222.074, 293.676, 297.712, 323.107]
}

# Create the DataFrame
cpi_df = pd.DataFrame(data)

# Display the DataFrame
cpi_df.head()

# Calculate the Continuously Compounded Rate of Change quarterly as a percent
cpi_df['CPI_Change'] = cpi_df['CPI'].pct_change()
cpi_df['CPI_Compounded_Rate'] = (1 + cpi_df['CPI_Change']).apply(np.log) * 100

# Create a new DataFrame with years from 1935 to 2024 and quarters from 1 to 4
quarters = [1, 2, 3, 4]
year_quarter_df = pd.DataFrame([(year, quarter) for year in data['Year'] for quarter in quarters], columns=['Year', 'Quarter'])

# Merge the CPI data with the year_quarter_df to get the CPI for each quarter
cpi_df = year_quarter_df.merge(cpi_df, on='Year', how='left')

# Forward fill the CPI_Compounded_Rate column to fill in the missing values
cpi_df['CPI_Compounded_Rate'] = cpi_df['CPI_Compounded_Rate'].ffill()

# Calculate the quarterly compounded rate so that it compounds to the original rate for the year
cpi_df['Quarterly_CPI_Compounded_Rate'] = (1 + cpi_df['CPI_Compounded_Rate'] / 100) ** (1/4) - 1

# Convert the quarterly compounded rate to a percentage
cpi_df['Quarterly_CPI_Compounded_Rate'] = cpi_df['Quarterly_CPI_Compounded_Rate'] * 100

# Rename the Quarterly_CPI_Compounded_Rate column to Egg_Price
cpi_df.rename(columns={'Quarterly_CPI_Compounded_Rate': 'Egg_Price'}, inplace=True)

# Filter the DataFrame to start from Q1 1950
cpi_df = cpi_df[(cpi_df['Year'] >= 1950)]

# Merge the CPI data into the economic_df DataFrame
economic_df = economic_df.merge(cpi_df[['Year', 'Quarter', 'Egg_Price']], on=['Year', 'Quarter'], how='left')

# Display the updated DataFrame
economic_df.head(20)

,Year,Quarter,GDP_Growth,Recession,Unemployment_Rate,Inflation_Rate,Gas_Prices,SP500_Return_Rate,Consumer_Confidence,Federal_Funds_Rate,Debt_Percent_Change,Egg_Price
0,1950,1,3.85636,False,6.4,-1.48963,-2.65268,7.458165,NaN,NaN,0.450617,-3.916469
1,1950,2,3.00531,False,5.6,-0.62718,1.06953,-0.979123,NaN,NaN,0.450617,-3.916469
2,1950,3,3.79224,False,4.6,2.05200,1.58315,16.263185,NaN,NaN,0.450617,-3.916469
3,1950,4,1.89685,False,4.2,4.36743,1.55847,8.626437,NaN,NaN,0.450617,-3.916469
4,1951,1,1.34882,False,3.5,8.94573,0.51414,5.142996,NaN,NaN,-0.208081,4.590243
5,1951,2,1.71730,False,3.1,9.17251,0.00000,1.830259,NaN,NaN,-0.208081,4.590243
6,1951,3,2.03906,False,3.2,7.14778,-1.03094,8.298538,NaN,NaN,-0.208081,4.590243
7,1951,4,0.21871,False,3.4,6.57397,2.55768,5.157752,NaN,NaN,-0.208081,4.590243
8,1952,1,1.06127,False,3.1,2.80192,1.00503,-0.391155,NaN,NaN,0.378224,-2.334998
9,1952,2,0.21407,False,3.0,2.08119,0.49875,7.210096,NaN,NaN,0.378224,-2.334998
10,1952,3,0.71864,False,3.2,2.82776,0.49628,-1.845908,NaN,NaN,0.378224,-2.334998
11,1952,4,3.23118,False,2.8,1.44395,-1.49629,9.418138,NaN,NaN,0.378224,-2.334998
12,1953,1,1.84197,False,2.7,0.76972,3.94140,-4.295555,90.7,NaN,0.665438,1.395475
13,1953,2,0.77012,False,2.6,0.88095,0.96155,-0.271995,NaN,NaN,0.665438,1.395475
14,1953,3,-0.56410,True,2.7,0.66250,5.12933,0.158716,80.8,NaN,0.665438,1.395475
15,1953,4,-1.52529,True,3.7,0.72419,-0.45558,7.758780,80.7,NaN,0.665438,1.395475
16,1954,1,-0.47871,True,5.3,1.25219,0.00000,10.016291,82.0,NaN,0.483989,-4.789625
17,1954,2,0.10935,False,5.8,0.71108,-0.45767,10.407873,82.9,NaN,0.483989,-4.789625
18,1954,3,1.12336,False,6.0,-0.01242,-0.92167,8.046284,NaN,1.03,0.483989,-4.789625
19,1954,4,1.93806,False,5.3,-0.49585,0.00000,11.838194,87.0,0.99,0.483989,-4.789625

In [96]:
# Read the CSV file for Presidents
presidents_df = pd.read_csv('Presidents.csv')

# Display the DataFrame
presidents_df.head()

# Extract the start and end years from the "Congress" column
presidents_df['Start_Year'] = presidents_df['Congress'].str.extract(r'\((\d{4})–')[0].astype(int)
presidents_df['End_Year'] = presidents_df['Congress'].str.extract(r'–(\d{4})\)')[0].astype(int)

# Display the updated DataFrame
presidents_df.head()

# Extract the President and President Party into separate columns
presidents_df['President'] = presidents_df['Presidency'].str.extract(r'\((.*?)\)')[0]
presidents_df['President_Party'] = presidents_df['Presidency'].str.extract(r'^(.*?) \(')[0]

# Display the updated DataFrame
presidents_df.head()

# Create a new DataFrame with the required columns
presidents_df = presidents_df[['Start_Year', 'President', 'President_Party', 'House Majority', 'Senate Majority']]

# Rename the columns
presidents_df.columns = ['Year', 'President', 'President_Party', 'House_Majority', 'Senate_Majority']

# Filter the DataFrame to start from 1950
presidents_df = presidents_df[presidents_df['Year'] >= 1950]

# Display the updated DataFrame
presidents_df.head()

# Fill in the missing years with the same info as the year above
presidents_df = presidents_df.set_index('Year').reindex(range(1950, 2025)).ffill().reset_index()

# Display the updated DataFrame
presidents_df.head(10)

# Create a DataFrame with years from Q1 1950 to Q4 2024
years = range(1950, 2025)
quarters = [1, 2, 3, 4]
year_quarter_df = pd.DataFrame([(year, quarter) for year in years for quarter in quarters], columns=['Year', 'Quarter'])

# Merge the presidents_df with year_quarter_df to get the President and President_Party for each quarter
year_quarter_df = year_quarter_df.merge(presidents_df, on='Year', how='left')

# Forward fill the President and President_Party columns to fill in the missing values
year_quarter_df[['President', 'President_Party', 'House_Majority', 'Senate_Majority']] = year_quarter_df[['President', 'President_Party', 'House_Majority', 'Senate_Majority']].ffill()

# Merge the year_quarter_df with economic_df to get the complete dataset
economic_df = economic_df.merge(year_quarter_df, on=['Year', 'Quarter'], how='left')

# Display the updated DataFrame
economic_df.head(10)

,Year,Quarter,GDP_Growth,Recession,Unemployment_Rate,Inflation_Rate,Gas_Prices,SP500_Return_Rate,Consumer_Confidence,Federal_Funds_Rate,Debt_Percent_Change,Egg_Price,President,President_Party,House_Majority,Senate_Majority
0,1950,1,3.85636,False,6.4,-1.48963,-2.65268,7.458165,NaN,NaN,0.450617,-3.916469,NaN,NaN,NaN,NaN
1,1950,2,3.00531,False,5.6,-0.62718,1.06953,-0.979123,NaN,NaN,0.450617,-3.916469,NaN,NaN,NaN,NaN
2,1950,3,3.79224,False,4.6,2.05200,1.58315,16.263185,NaN,NaN,0.450617,-3.916469,NaN,NaN,NaN,NaN
3,1950,4,1.89685,False,4.2,4.36743,1.55847,8.626437,NaN,NaN,0.450617,-3.916469,NaN,NaN,NaN,NaN
4,1951,1,1.34882,False,3.5,8.94573,0.51414,5.142996,NaN,NaN,-0.208081,4.590243,Truman,Democrat,Democrats,Democrats
5,1951,2,1.71730,False,3.1,9.17251,0.00000,1.830259,NaN,NaN,-0.208081,4.590243,Truman,Democrat,Democrats,Democrats
6,1951,3,2.03906,False,3.2,7.14778,-1.03094,8.298538,NaN,NaN,-0.208081,4.590243,Truman,Democrat,Democrats,Democrats
7,1951,4,0.21871,False,3.4,6.57397,2.55768,5.157752,NaN,NaN,-0.208081,4.590243,Truman,Democrat,Democrats,Democrats
8,1952,1,1.06127,False,3.1,2.80192,1.00503,-0.391155,NaN,NaN,0.378224,-2.334998,Truman,Democrat,Democrats,Democrats
9,1952,2,0.21407,False,3.0,2.08119,0.49875,7.210096,NaN,NaN,0.378224,-2.334998,Truman,Democrat,Democrats,Democrats

In [97]:
# Define the election years (assuming US presidential elections every 4 years starting from 1956)
election_years = list(range(1956, 2025, 4))

# Filter the economic_df to include only the fourth quarter of the election years
election_q4_df = economic_df[(economic_df['Year'].isin(election_years)) & (economic_df['Quarter'] == 4)]

# Get the quarter right after the election year (first quarter of the next year)
next_quarters_df = economic_df[(economic_df['Year'].isin([year + 1 for year in election_years])) & (economic_df['Quarter'] == 1)]

# Concatenate the two DataFrames
result_df = pd.concat([election_q4_df, next_quarters_df])

# Sort the DataFrame by Year and Quarter
result_df = result_df.sort_values(by=['Year', 'Quarter']).reset_index(drop=True)

# Display the DataFrame
result_df.tail(20)

# Add a column to indicate if the President's party stayed the same after the election
result_df['President_Party_Stayed'] = result_df['President_Party'].eq(result_df['President_Party'].shift(-1))

# Filter the result_df to include only the fourth quarter of the election years
result_df = result_df[result_df['Quarter'] == 4]

# Display the updated DataFrame
result_df.head(20)

# Define the turnout data
turnout_data = {
    'Year': [1956, 1960, 1964, 1968, 1972, 1976, 1980, 1984, 1988, 1992, 1996, 2000, 2004, 2008, 2012, 2016, 2020, 2024],
    'Turnout_as_%_VAP': [60.4, 63.5, 63.4, 62.8, 57.0, 55.7, 55.1, 54.5, 51.4, 56.3, 49.8, 52.1, 56.7, 58.3, 54.9, 55.7, 62.8, 58.1],
    'Approval': [75, 59, 70, 43, 62, 53, 31, 62, 57, 43, 58, 63, 53, 29, 53, 56, 43, 37]
}

# Convert the turnout data to a DataFrame
turnout_df = pd.DataFrame(turnout_data)

# Merge the turnout data into the result_df DataFrame
result_df = result_df.merge(turnout_df, on='Year', how='left')

# Display the updated DataFrame
result_df.head(20)

,Year,Quarter,GDP_Growth,Recession,Unemployment_Rate,Inflation_Rate,Gas_Prices,SP500_Return_Rate,Consumer_Confidence,Federal_Funds_Rate,Debt_Percent_Change,Egg_Price,President,President_Party,House_Majority,Senate_Majority,President_Party_Stayed,Turnout_as_%_VAP,Approval
0,1956,4,1.63251,False,4.1,2.58161,-0.85837,-0.793072,100.2,2.93,-0.148249,-0.138338,Eisenhower,Republican,Democrats,Democrats,True,60.4,75
1,1960,4,-1.29143,True,6.3,1.39598,-0.26954,12.098686,90.1,2.30,0.142374,1.819951,Eisenhower,Republican,Democrats,Democrats,False,63.5,59
2,1964,4,0.30871,False,5.0,1.26610,NaN,2.240089,99.9,3.58,0.475032,-0.246479,Kennedy / L. Johnson,Democrat,Democrats,Democrats,True,63.4,70
3,1968,4,0.39200,False,3.4,4.62598,0.12384,-1.010722,91.7,5.92,1.598019,1.822212,L. Johnson,Democrat,Democrats,Democrats,False,62.8,43
4,1972,4,1.66057,False,5.4,3.33333,1.50032,8.747320,90.7,5.15,1.781072,-0.147053,Nixon,Republican,Democrats,Democrats,True,57.0,62
5,1976,4,0.72001,False,7.8,5.18697,0.13899,2.847585,87.0,4.87,3.861222,2.133010,Ford,Republican,Democrats,Democrats,False,55.7,53
6,1980,4,1.84775,False,7.4,12.53836,-0.98023,3.323167,72.1,15.85,2.369950,-0.444012,Carter,Democrat,Democrats,Democrats,False,55.1,31
7,1984,4,0.81742,False,7.3,4.15430,0.17144,5.297671,95.0,9.26,3.366893,2.663223,Reagan,Republican,Democrats,Republicans,True,54.5,62
8,1988,4,1.32366,False,5.3,4.30636,-2.55644,3.782163,93.0,8.47,2.579637,0.546403,Reagan,Republican,Democrats,Democrats,True,51.4,57
9,1992,4,1.03746,False,7.4,3.12197,-0.88482,6.268820,83.2,3.03,2.618940,-2.940821,G.H.W. Bush,Republican,Democrats,Democrats,False,56.3,43
10,1996,4,1.03302,False,5.3,3.23140,-0.12484,9.776326,97.5,5.28,1.237538,3.898547,Clinton,Democrat,Republicans,Republicans,True,49.8,58
11,2000,4,0.59526,False,3.9,3.44350,-1.49578,-3.623132,103.9,6.47,0.079054,0.711543,Clinton,Democrat,Republicans,Republicans,False,52.1,63
12,2004,4,1.01504,False,5.4,3.38495,3.51622,6.177213,93.9,1.95,2.127100,1.470327,G.W. Bush,Republican,Republicans,Republicans,True,56.7,53
13,2008,4,-2.21334,True,6.9,1.59580,-49.85553,-9.931636,57.7,0.51,2.710584,3.133851,G.W. Bush,Republican,Democrats,Democrats13,False,58.3,29
14,2012,4,0.11557,False,7.8,1.90357,-3.84963,3.517262,79.4,0.16,2.090194,0.768575,Obama,Democrat,Republicans,Democrats,True,54.9,53
15,2016,4,0.55277,False,4.8,1.80698,1.26420,6.712243,93.1,0.45,1.904641,-6.519273,Obama,Democrat,Republicans,Republicans,False,55.7,56
16,2020,4,1.07888,False,6.8,1.22598,-1.78467,11.412862,79.8,0.09,4.357076,1.025900,Trump,Republican,Democrats,Republicans,False,62.8,43
17,2024,4,0.55662,False,4.1,2.73538,-8.63110,4.400000,72.1,4.65,1.688385,1.986447,Biden,Democrat,Republicans,Democrats,False,58.1,37

In [98]:
# Filter the economic_df to start from 1956
economic_df = economic_df[economic_df['Year'] >= 1956]

# Display the updated DataFrame
economic_df.head()

,Year,Quarter,GDP_Growth,Recession,Unemployment_Rate,Inflation_Rate,Gas_Prices,SP500_Return_Rate,Consumer_Confidence,Federal_Funds_Rate,Debt_Percent_Change,Egg_Price,President,President_Party,House_Majority,Senate_Majority
24,1956,1,-0.38880,True,4.0,0.24882,0.00000,9.830277,NaN,2.48,-0.148249,-0.138338,Eisenhower,Republican,Democrats,Democrats
25,1956,2,0.82318,False,4.2,1.04647,0.88496,2.479559,98.2,2.69,-0.148249,-0.138338,Eisenhower,Republican,Democrats,Democrats
26,1956,3,-0.08974,True,4.1,2.01668,3.03711,-4.279415,99.9,2.81,-0.148249,-0.138338,Eisenhower,Republican,Democrats,Democrats
27,1956,4,1.63251,False,4.1,2.58161,-0.85837,-0.793072,100.2,2.93,-0.148249,-0.138338,Eisenhower,Republican,Democrats,Democrats
28,1957,1,0.63823,False,3.9,3.41276,2.13228,0.130657,NaN,2.93,-0.204442,-1.219858,Eisenhower,Republican,Democrats,Democrats

In [99]:
# Save economic_df to a CSV file
economic_df.to_csv('final_economic_data.csv', index=False)

# Save result_df to a CSV file
result_df.to_csv('final_election_results.csv', index=False)