### Exploratory Data Analysis

In [10]:
from tabulate import tabulate

In [2]:
import pandas as pd

# Load the entire workbook
excel_file_path = 'MiddleSchoolData.xlsx'
xl = pd.ExcelFile(excel_file_path)

# List all sheet names
print(xl.sheet_names)

# Read a specific sheet into a DataFrame
#df_sheet1 = pd.read_excel(excel_file_path, sheet_name='Sheet1')

# If you want to read all sheets into a dictionary of DataFrames
dfs = {sheet_name: xl.parse(sheet_name) for sheet_name in xl.sheet_names}

# Now dfs['Sheet1'], dfs['Sheet2'], etc., contain data from each sheet
#dfs

['Most Recent Access Data', 'Most Recent Particiation Data', 'Gender Participation', 'RaceEthnicity', 'Other Student Groups', 'K-12 Student Demographics']

#### Most Recent Access Data

In [11]:
describeAccess = dfs['Most Recent Access Data'].describe()
# Convert DataFrame to Markdown
markdown_table = tabulate(describeAccess, headers='keys', tablefmt='pipe')

print(markdown_table)

|       |   Percent of Schools that Provided Data |   Number of Middle School Offering CS |   Total Number of Middle School |   Percent of Middle School Offering CS |
|:------|----------------------------------------:|--------------------------------------:|--------------------------------:|---------------------------------------:|
| count |                               52        |                                52     |                           52    |                              52        |
| mean  |                                0.692091 |                               468.865 |                         1262.73 |                               0.410832 |
| std   |                                0.241461 |                              1671.11  |                         4515.21 |                               0.187131 |
| min   |                                0.143695 |                                13     |                           73    |                               0.114247 |
| 25%   |                                0.506148 |                                90.25  |                          293.75 |                               0.286079 |
| 50%   |                                0.680198 |                               208.5   |                          453    |                               0.358464 |
| 75%   |                                0.915115 |                               320.75  |                          784.5  |                               0.501176 |
| max   |                                1        |                             12202     |                        32891    |                               0.918699 |

#### Most Recent Particiation Data

In [8]:
dfs['Gender Participation'].describe()

,Unnamed: 0,Number of Middle School Female Students Enrolled in Computer Science,Percent of Middle School Female Students Enrolled in Computer Science,Number of Middle School Male Students Enrolled in Computer Science,Percent of Middle School Male Students Enrolled in Computer Science,Number of Middle School Non-Binary Students Enrolled in Computer Science,Percent of Middle School Non-Binary Students Enrolled in Computer Science
count,52,52,52,52,52,52,52
unique,52,34,31,34,31,10,5
top,National,-,-,-,-,0,0
freq,1,19,19,19,19,25,26